IDI_ICON1 ICON DISCARDABLE "icons/bitcoin.ico"

#include <windows.h>             // needed for VERSIONINFO
#include "../../version.h" // holds the needed client version information

#define STRINGIZE(X) DO_STRINGIZE(X)
#define DO_STRINGIZE(X) #X
#define VER_PRODUCTVERSION     CRAZY_VERSION_MAJOR,CRAZY_VERSION_MINOR,CRAZY_VERSION_REVISION,CRAZY_VERSION_BUILD
#define VER_PRODUCTVERSION_STR STRINGIZE(CRAZY_VERSION_MAJOR) "." STRINGIZE(CRAZY_VERSION_MINOR) "." STRINGIZE(CRAZY_VERSION_REVISION) "." STRINGIZE(CRAZY_VERSION_BUILD)
#define VER_FILEVERSION        VER_PRODUCTVERSION
#define VER_FILEVERSION_STR    VER_PRODUCTVERSION_STR

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // U.S. English - multilingual (hex)
        BEGIN
            VALUE "CompanyName",        "CRAZY"
            VALUE "FileDescription",    "CRAZY-Qt (OSS GUI client for CRAZY Coin)"
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       "CRAZY-Qt"
            VALUE "LegalCopyright",     "2015 The CRAZY developers, 2009-2014 The Bitcoin developers, 2012-2014 The CRAZY developers"
            VALUE "LegalTrademarks1",   "Distributed under the MIT/X11 software license, see the accompanying file COPYING or http://www.opensource.org/licenses/mit-license.php."
            VALUE "OriginalFilename",   "CRAZY-Qt.exe"
            VALUE "ProductName",        "CRAZY-Qt"
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252 // language neutral - multilingual (decimal)
    END
END
